<ion-header>
  <ion-navbar>
    <ion-title>Cadastro de Clientes</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="dadosCliente" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Nome:</ion-label>
      <ion-input type="text" formControlName="nome"></ion-input>
    </ion-item>
    <ion-item *ngIf="!dadosCliente.controls.nome.valid && dadosCliente.controls.nome.dirty ">
      <p>Nome inválida.</p>
    </ion-item>	
    <ion-item>
      <ion-label>Sobrenome:</ion-label>
      <ion-input type="text" formControlName="sobreNome"></ion-input>
    </ion-item>
    <ion-item *ngIf="!dadosCliente.controls.sobreNome.valid && dadosCliente.controls.sobreNome.dirty ">
      <p>Sobrenome inválida.</p>
    </ion-item>	
    <ion-item>
      <ion-label>Entrada do trabalho</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" formControlName="dataNascimento"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="!dadosCliente.controls.dataNascimento.valid && dadosCliente.controls.dataNascimento.dirty ">
      <p>Data nascimento inválida.</p>
      </ion-item>	
    <button ion-button block round type="submit" color="secondary">Salvar</button> 
  </form>
</ion-content>